body {
    background-color: #cae4db;
}

.fill {
    background-color: #cae4db;
}

.Jumbotron {
    background-color: #7a9d96;
}

.btn {
    background-color:#00303F;
}

.giphyback {
    background-color:#00303F;
}

.insideGif {
    background-color: #cae4db;
}

